__pycache__/
*.pyc
*.log
.git/
dist/
zips/
plugin.video.mako.zip

# Node / wrangler
mako-worker/node_modules/
mako-worker/.wrangler/
mako-worker/dist/
mako-worker/package-lock.json
.DS_Store
special:
