<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Recording">
    <setting id="ffmpeg_path" type="file" label="Path to ffmpeg binary" default=""/>
    <setting id="recordings_dir" type="folder" label="Recordings folder" default=""/>
    <setting type="sep"/>
    <setting label="Get ffmpeg:" type="lsep"/>
    <setting label="Windows: gyan.dev/ffmpeg/builds - unzip - point at ffmpeg.exe" type="lsep"/>
    <setting label="Linux: sudo apt install ffmpeg - path is /usr/bin/ffmpeg" type="lsep"/>
    <setting label="Mac: brew install ffmpeg - path is /opt/homebrew/bin/ffmpeg" type="lsep"/>
  </category>
</settings>
